/* Custom styling for the homepage */

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.homepage {
  text-align: center;
}

.header {
  background-color: #3f51b5;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.login-button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #303f9f;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #1e2761;
}

.content {
  padding: 50px 20px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #555;
  font-size: 1.2rem;
}
